In [1]:
import tensorflow as tf

In [2]:
tf.__version__

'2.5.0'

In [44]:
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers
from keras_tuner import RandomSearch

In [45]:
df = pd.read_csv('Real_Combine.csv')

In [46]:
df.head()

      T    TM   Tm     SLP     H   VV    V    VM      PM 2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [47]:
x=df.iloc[:,:-1]

In [48]:
x.head()

      T    TM   Tm     SLP     H   VV    V    VM
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2

In [49]:
y=df.iloc[:,-1]

In [50]:
y.head()

0    219.720833
1    182.187500
2    154.037500
3    223.208333
4    200.645833
Name: PM 2.5, dtype: float64

In [57]:

def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=32),
                               activation='relu'))
    model.add(layers.Dense(1, activation='linear'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='mse',
        metrics=['mse'])
    return model

In [58]:

tuner = RandomSearch(
    build_model,
    objective='val_loss',
    max_trials=5,
    executions_per_trial=3,
    directory='project1',
    project_name='Air Quality Index')

In [59]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3,random_state=0)

In [62]:
tuner.search(x_train, y_train, epochs=5, validation_data=(x_test, y_test))

Trial 5 Complete [00h 00m 10s]
val_loss: nan

Best val_loss So Far: nan
Total elapsed time: 00h 00m 46s
INFO:tensorflow:Oracle triggered exit

In [63]:
tuner.results_summary()

Results summary
Results in project1\Air Quality Index
Showing 10 best trials
Objective(name='val_loss', direction='min')
Trial summary
Hyperparameters:
num_layers: 16
units_0: 512
units_1: 256
learning_rate: 0.0001
units_2: 32
units_3: 32
units_4: 32
units_5: 32
units_6: 32
units_7: 32
units_8: 32
units_9: 32
units_10: 32
units_11: 32
units_12: 32
units_13: 32
units_14: 32
units_15: 32
Score: nan
Trial summary
Hyperparameters:
num_layers: 15
units_0: 416
units_1: 416
learning_rate: 0.0001
units_2: 416
units_3: 512
units_4: 416
units_5: 480
units_6: 416
units_7: 448
units_8: 128
units_9: 224
units_10: 256
units_11: 32
units_12: 96
units_13: 224
units_14: 160
units_15: 352
Score: nan
Trial summary
Hyperparameters:
num_layers: 18
units_0: 64
units_1: 448
learning_rate: 0.0001
units_2: 448
units_3: 96
units_4: 288
units_5: 32
units_6: 512
units_7: 288
units_8: 224
units_9: 320
units_10: 192
units_11: 224
units_12: 64
units_13: 352
units_14: 192
units_15: 96
units_16: 32
units_17: 32
Score: nan
Trial summary
Hyperparameters:
num_layers: 13
units_0: 224
units_1: 160
learning_rate: 0.0001
units_2: 192
units_3: 384
units_4: 160
units_5: 352
units_6: 416
units_7: 64
units_8: 320
units_9: 128
units_10: 480
units_11: 128
units_12: 384
units_13: 64
units_14: 32
units_15: 32
units_16: 96
units_17: 192
Score: nan
Trial summary
Hyperparameters:
num_layers: 17
units_0: 384
units_1: 160
learning_rate: 0.01
units_2: 224
units_3: 416
units_4: 384
units_5: 480
units_6: 192
units_7: 224
units_8: 416
units_9: 288
units_10: 192
units_11: 192
units_12: 160
units_13: 128
units_14: 416
units_15: 64
units_16: 288
units_17: 256
Score: nan